@use '../variables' as *;

.main-nav {
  display: flex;
  justify-content:space-between;
  padding: auto 0;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    
    > li {
      font-family: cursive;
      font-size: 16px;
      text-transform: capitalize;
      margin: 0px 5px;
    }
  }

  span {
    
  }
}

.right-nav  {
  > ul {
    >button {
      margin: 0px 5px;
    > li {
      font-family: cursive;
      font-size: 16px;
      text-transform: capitalize;
    }

    > li:last-of-type {
      // font-size: 20px;
    }
    }
  }
  
  i {
    font-size: 20px;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > button:hover {
  background-color: rgba(166, 173, 209, 0.765);
}

    