<nav class="masthead">
  <nav class="language-nav">
  <ul>
    <li><a>CSS</a></li> 
    <li> <a> HTML </a> </li>
    <li>Javascript </li>
    <li>Ruby </li>

  </ul>
  <nav>

Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100%

</nav>